<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @daily_report.date %>
</p>

<p>
  <strong>From time:</strong>
  <%= @daily_report.from_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @daily_report.end_time %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @daily_report.comment %>
</p>

<%= link_to 'Edit', edit_daily_report_path(@daily_report) %> |
<%= link_to 'Back', daily_reports_path %>
